<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <%- include('./snippets/header_meta.ejs') %>
    <title><%= appSettings.siteName %> - Investment Plans</title>
  </head>

  <style>
    /* language */
    .language_switcher {
      position: relative;
      padding-right: 20px;
      min-width: max-content;
    }

    @media (max-width: 991px) {
      .language_switcher {
        padding-block: 6px;
        display: inline-flex;
      }

      .language_switcher_wrapper {
        flex: 1;
        text-align: right;
      }
    }

    .language_switcher::after {
      font-family: "Line Awesome Free";
      content: "\f107";
      font-weight: 900;
      font-size: 14px;
      position: absolute;
      margin: 0;
      color: #fff;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: all ease 350ms;
      -webkit-transition: all ease 350ms;
      -moz-transition: all ease 350ms;
    }

    .language_switcher.open:after {
      -webkit-transform: translateY(-50%) rotate(180deg);
      transform: translateY(-50%) rotate(180deg);
    }

    .language_switcher__caption {
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 4px;
      flex-wrap: nowrap;
    }

    .language_switcher__caption .icon {
      position: relative;
      height: 20px;
      width: 20px;
      display: flex;
    }

    .language_switcher__caption .icon img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }

    .language_switcher__caption .text {
      font-size: 0.875rem;
      font-weight: 500;
      flex: 1;
      color: #fff;
      line-height: 1;
    }

    .language_switcher__list {
      width: 100px;
      border-radius: 4px;
      padding: 0;
      max-height: 105px;
      overflow-y: auto !important;
      background: hsl(var(--base));
      -webkit-box-shadow: 0px 12px 24px rgba(21, 18, 51, 0.13);
      opacity: 0;
      overflow: hidden;
      -webkit-transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75),
        opacity 0.1s linear;
      transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75),
        opacity 0.1s linear;
      -webkit-transform: scale(0.85);
      transform: scale(0.85);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      position: absolute;
      top: calc(100% + 18px);
      z-index: -1;
      visibility: hidden;
    }

    .language_switcher__list::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: hsl(var(--base) / 0.3);
    }

    .language_switcher__list::-webkit-scrollbar {
      width: 3px;
    }

    .language_switcher__list::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: hsl(var(--base) / 0.8);
    }

    .language_switcher__list .text {
      font-size: 0.875rem;
      font-weight: 500;
      color: #fff;
    }

    .language_switcher.open .language_switcher__list {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      z-index: 1;
      visibility: visible;
    }

    .language_switcher__item a {
      cursor: pointer;
      padding: 5px;
      border-bottom: 1px solid hsl(var(--heading-color) / 0.2);
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .language_switcher__item img {
      height: 20px;
      width: 20px;
      display: block;
      border-radius: 50%;
    }

    .language_switcher__item:last-of-type {
      border-bottom: 0;
    }
    .language_switcher__item:hover {
      background-color: hsl(var(--dark) / 0.1);
    }
    .language_switcher__item.selected {
      background: rgba(36, 60, 187, 0.02);
      pointer-events: none;
    }
  </style>
  <body>
     <div class="preloader">
      <%- include('./snippets/preloader_logo.ejs') %>
    </div>

    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

    <div class="full-wh">
      <!-- STAR ANIMATION -->
      <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
      </div>
      <!-- / STAR ANIMATION -->
    </div>

    <div class="page-wrapper">
      <!-- header-section start  -->
      <%- include('./snippets/navbar.ejs') %>
      <!-- header-section end  -->

      <section class="inner-hero bg_img">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="page-title">Investment Plan</h2>
            </div>
          </div>
        </div>
      </section>
      <div class="section-wrapper">
        <section class="pt-120 pb-120">
          <div class="container">
            <div class="row justify-content-center gy-4">
              <% if (plans && plans.length > 0) { %> <% plans.forEach(plan => {
              %>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="package-card text-center bg_img">
                  <h4 class="package-card__title base--color mb-2">
                    <%= plan.name %>
                  </h4>

                  <ul class="package-card__features mt-4">
                    <li>Return <%= plan.roiPercentage %>%</li>
                    <li>
                      <%= plan.roiPeriod.charAt(0).toUpperCase() +
                      plan.roiPeriod.slice(1) %>
                    </li>
                    <% if (plan.term > 0) { %>
                    <li>
                      For <%= plan.term %> <%= plan.termPeriod %><%= plan.term >
                      1 ? 's' : '' %>
                    </li>
                    <% } else { %>
                    <li>For Lifetime</li>
                    <% } %> <% if (plan.capital_back) { %>
                    <li>
                      Total <%= plan.term * plan.roiPercentage %>% +
                      <span class="badge badge--success">Capital</span>
                    </li>
                    <% } else { %>
                    <li>Total <%= plan.term * plan.roiPercentage %>%</li>
                    <% } %> <% if (plan.compound_interest) { %>
                    <li>Compound interest available</li>
                    <% } %> <% if (plan.hold_capital) { %>
                    <li>Hold capital & reinvest</li>
                    <% } %>
                  </ul>
                  <div class="package-card__range mt-5 base--color">
                    <% if (plan.fixed_amount > 0) { %> $<%=
                    plan.fixed_amount.toFixed(2) %> <% } else { %> $<%=
                    plan.minAmount.toFixed(2) %> - $<%=
                    plan.maxAmount.toFixed(2) %> <% } %>
                  </div>
                  <a
                    href="javascript:void(0)"
                    data-bs-toggle="modal"
                    data-bs-target="#investModal"
                    data-plan="<%= JSON.stringify(plan) %>"
                    class="btn--base btn-md mt-4 investModal"
                    >Invest Now</a
                  >
                </div>
                <!-- package-card end -->
              </div>
              <% }); %> <% } else { %>
              <div class="col-12 text-center">
                <p>No investment plans available at the moment.</p>
              </div>
              <% } %>

              <div class="modal fade" id="investModal">
                <div
                  class="modal-dialog modal-lg modal-dialog-centered modal-content-bg"
                >
                  <div class="modal-content">
                    <div class="modal-header">
                      <strong class="modal-title text-white" id="ModalLabel">
                        At first sign in your account
                      </strong>
                      <button
                        type="button"
                        class="close"
                        data-bs-dismiss="modal"
                      >
                        <i class="las la-times"></i>
                      </button>
                    </div>
                    <form action="" method="post">
                      <input
                        type="hidden"
                        name="_token"
                        value="hzJPoazTObpFbQ8fya3C7occebrlMcqm3yaab3Le"
                        autocomplete="off"
                      />
                      <input type="hidden" name="plan_id" />
                      <div class="modal-footer">
                        <a
                          href="/account/login"
                          class="btn--base btn-md w-100 text-center"
                          >At first sign in your account</a
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Footer -->
      <%- include("./snippets/footer.ejs") %>
    </div>

    <!-- Scripts -->
    <%- include("./snippets/scripts.ejs") %> <%-
    include('./snippets/live_chat.ejs') %>

    <script>
      (function ($) {
        "use strict";

        $(".language_switcher > .language_switcher__caption").on(
          "click",
          function () {
            $(this).parent().toggleClass("open");
          }
        );
        $(document).on("keyup", function (evt) {
          if ((evt.keyCode || evt.which) === 27) {
            $(".language_switcher").removeClass("open");
          }
        });
        $(document).on("click", function (evt) {
          if (
            $(evt.target).closest(
              ".language_switcher > .language_switcher__caption"
            ).length === 0
          ) {
            $(".language_switcher").removeClass("open");
          }
        });
      })(jQuery);
    </script>
  </body>
</html>
