<footer class="footer testimonial">
  <div class="footer__top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <a href="/" class="site-logo">
            <img src="<%= appSettings.siteLogo %>" alt="image" />
            <span class="base--color"><%= appSettings.siteName %></span>
          </a>
          <ul
            class="footer-short-menu d-flex flex-wrap justify-content-center mt-3"
          >
            <li>
              <a href="/terms-and-conditions">Privacy Policy</a>
            </li>
            <li>
              <a href="/terms-and-conditions">Terms and Service</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-left text-center">
          <p class="copy-right-text">
            &copy; 2024
            <a href="/" class="base--color"><%= appSettings.siteName %></a> |
            All Rights Reserved
          </p>
        </div>
        <div class="col-md-6">
          <ul
            class="social-link-list d-flex flex-wrap justify-content-md-end justify-content-center"
          >
            <li>
              <a href="<%= appSettings.facebook %>" target="_blank">
                <i class="lab la-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="<%= appSettings.twitter %>" target="_blank">
                <i class="lab la-twitter"></i>
              </a>
            </li>
            <li>
              <a href="<%= appSettings.linkedin %>" target="_blank">
                <i class="lab la-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
