<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= appSettings.siteName %> | Login Form</title>
    <!-- Bootstrap CSS -->
    <!-- Custom CSS -->
    <%- include('../snippets/header_meta.ejs') %>

    <style>
      body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                  url(/images/auth_bg.jpg) no-repeat;
      background-size: cover;
      background-position: center;
      }
      .card {
        background-color: #16242D;
      }
      .form-control, .form-select {
        background-color: #1A2B36;
        color: #fff;
        border: 1px solid #3A4B5C;
      }
      .form-select:focus {
        color: 000 !important;
      }
    </style>
  </head>
  <body>
    <div class="container" style="min-height: 100vh">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-5 mb-5">
          <h2 class="card-title text-center mb-3 mt-5"><%= appSettings.siteName %></h2>
          
            <div class="card mt-5">
            <div class="card-body">
              <h3 class="text-center mb-4">Sign In</h3>
              <p class="text-center mb-4">
                Sign in with your registered email and password.
              </p>
              <% if (!appSettings.loginEnabled) { %>
                <form id="loginForm">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email Address *</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Enter your email address"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password *</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Enter your password"
                      required
                    />
                  </div>

                  <p class="text-end mt-4 mb-4">
                    <a href="/auth/forgotten-password" class="base--color"
                      >Forgot password?</a
                    >
                  </p>

                  <div
                    class="alert alert-danger"
                    id="loginError"
                    style="display: none"
                  ></div>

                  <div class="d-grid">
                    <button type="submit" class="btn btn--base" id="loginButton">
                      <span
                        class="spinner-border spinner-border-sm d-none"
                        role="status"
                        aria-hidden="true"
                        id="loginSpinner"
                      ></span>
                      Login
                    </button>
                  </div>
                </form>
                <p class="text-center mt-4">
                  Don't have an account?
                  <a href="/auth/register" class="base--color"
                    >Create an account</a
                  >
                </p>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../snippets/scripts.ejs") %>

    <%- include('../snippets/live_chat.ejs') %>

    
    <script src="/apiClient/apiClient.js"></script>
    <script src="/apiClient/authClient.js"></script>
    <script>
      // Initialize auth pages
      initAuthPages();
    </script>
  </body>
</html>
